/* Utility Classes */
.u-left {
    float: left;
}

.u-right {
    float: right;
}

/* Start global app styles */
.wrapper {
    padding: 1rem;
    position: relative;
    margin: 0 auto;
    max-width: 90rem;
    width: 100%;
}

.icon {
    overflow: hidden;
}

.icon svg {
    fill: var(--primary-grayscale);
    height: 100%;
    width: auto;
}

.icon svg {
    transition: all 90ms ease-in;
}
