/* Utility Classes */
.u-left {
    float: left;
}

.u-right {
    float: right;
}

/* Start global app styles */
header,
footer,
section,
main {
    display: block;
    padding: 0.5rem 1rem;
    width: 100%;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 75rem;
    width: 100%;
}

.wrapper--flex {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.icon {
    overflow: hidden;
}

.icon svg {
    fill: var(--secondary-text-color);
    height: 100%;
    width: auto;
}

.icon svg {
    transition: all 90ms ease-in;
}

@media screen and (min-width: 40rem) {
    header,
    footer,
    section,
    main {
        padding: 1rem;
    }
}
