.inbox {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

.inbox .title--page {
    margin: 0 auto;
    padding: 1rem 1rem 0;
}

.inbox main {
    display: flex;
    flex: 1 1 49rem;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 20rem;
}

.inbox .sidebar {
    flex: 1 1 15rem;
    width: 15rem;
}

.inbox .wrapper--flex {
    flex-direction: row-reverse;
}
